body { 
	margin: 0;
	padding: 0;
	background-color: #CCCCCC;	
}
			
.HeaderBox {
	background-color: #39286C
}
			
.Header {
	color: #CCCCCC;
	font-family: calibri;
	font-size: 32pt;
	text-indent: 10px;
	margin: 6px;
}
			
.Titles {
	font-family: calibri;
	font-weight: bold;
	
}
			
.Inputs {
	font-family:calibri;
}
			
.Button {
	-webkit-appearance: button;
	appearance: button;
	width: 60px;
	height: 20px;
	text-decoration: none;
	color: initial;
	font-family: calibri;
}
			
#LoginTable {
	position: absolute;
	left: 40%;
	top: 100px;
	margin-top: 100px;
}

#topRight {
	position:absolute;
	left: 100px;
	bottom: 100px;
}