
#profile {
     background-color: #39286C;
     text-align: center;
     position:absolute;
     right:0px;
     top:0px;
     margin-top: 0px
}
#upperTitle {
    
    width:100%;
    height:90px;
    font-size:35pt;
    font-family: Calibri;
    background-color:#39286C;
    color:white;
    padding-top:45px;
    padding-left:30px;
    position:absolute;
    top:0;
    left:0px;
    margin-top:0px;
    
    
}

#print {
    margin-top:500px;
    position: absolute;
    height: 150px;
    width:150px;
    left:0px;
}

#sideMenu {
    border: solid 2px#CCCCCC;
    height:100%;
    width:160px;
    position:absolute;
    background-color: #CCCCCC;
    margin-top:127px;
    left:0px;
}

#dataBase {
    height:675px;
    width:1732px;
    border: solid #CCCCCC 2px ;
    position:absolute;
    margin-top:250px;
    margin-left:100px;
    right:0px;
    
    
}

.menuButtons {
    height: 50px;
    font-size: 20px;
    width:140px;
    position:absolute;
    border: solid #CCCCCC 2px;
    margin-top:0px
    font-family: Calibri;
    border-left: 7px solid #39286C;
    padding-left:5px;
    padding-top: 20px;
    left:0px;
    
}

.menuButtons:hover {
    border-left:solid 7px #23BFD2;
}

#Appointments {
    margin-top: 150px
}

#Placements {
    margin-top:300px;
}

.profileButtons {
    background-color:#39286;
    height:40;
    width:40;
    margin:auto;
    
}


.ALL{
    font-family: Calibri;
    font-weight: bold;
    color: white;
    font-size 20px;
    background-color: #39286C;
    height: 35px;
    width: 100px;
    padding-left:75px;
    margin-left:160px;
    padding-top: 5px;
    margin-top: 45px

    

}




#arrow{
    
    
    
    background-color:#39286C; 
    width: 40px;
    height:40px;
    margin-top: -40px;
    margin-left: 290px;
    height: 30px;
    
    
    
    
}

#box{
    position: absolute;
    background-color:#39286C; 
    width: 501px;
    height:30px;
    margin-left: 340px;
    height: 30px;
    border-style: solid;
    border-color: #39286C;
    background-color: white;
    
    
}

#borderBox{
    
    color:red;
    background-color: white;
    border-style: solid;
    border-color:#39286C;
    border-width: 4px;
    background-color: white;
    width:2000px;
    height:33px;
    margin-top: -30px;
    margin-left: 335.5px;
    position: absolute;
    
    
    
    
}


#aboveALL{
    font-family: Calibri;
    position: absolute;
    margin-top: -75px;
    margin-left: 161px;
    height: 43px;
    width: 5000px;
    background-color: white;
    
    
}
