/* beginning of login webpage */ 

body { 
	margin: 0;
	padding: 0;
	background-color: #CCCCCC;	
}
			
.HeaderBox {
	background-color: #39286C
}
			
.Header {
	color: #CCCCCC;
	font-family: calibri;
	font-size: 56pt;
	text-indent: 10px;
	margin: 6px;
}
			
.Titles {
	font-family: calibri;
	font-weight: bold;
	
}
			
.Inputs {
	font-family:calibri;
}
			
.Button {
	-webkit-appearance: button;
	appearance: button;
	width: 60px;
	height: 20px;
	text-decoration: none;
	color: initial;
	font-family:calibri;
}
			
#LoginTable {
	position: absolute;
	left: 40%;
	top: 100px;
	margin-top: 100px;
	
}

/* beginning of the circle gui webpage */ 

#topLeft {
	position:absolute;
	margin-top:160px;
	margin-left: 526px;
}

#topRight{
	position:absolute;
	margin-top: 160px;
	margin-left: 976px;
}

#bottomLeft {
	position:absolute;
	margin-top: 610px;
	margin-left:526px;
}

#bottomRight {
	position:absolute;
	margin-top:610px;
	margin-left:976px;
}

p {
	font-family:Calibri;
	font-size:10pt;
}

#db1
{
	margin-top:250px;
	position:absolute;
	margin-left:557px;
	font-size:20pt;
	
}

#db2 {
	
	margin-top:250px;
	position:absolute;
	margin-left:1290px;
	font-size:20pt;

}

#db3 {
	
	margin-top:890px;
	position:absolute;
	margin-left:557px;
	font-size:20pt;
}

#db4 {
	margin-top:890px;
	position:absolute;
	margin-left:1290px;
	font-size:20pt;
	font-family: Calibri;
}

div {
	position: absolute;
	right: 0px;
	top: 0px;
	margin-left:900px;
}

.buttons {
	background-color: #39286C;
	font-family: Calibri;
	height: 40;
	width: 40;
}

#centreLogo {
	position: absolute;
	margin-top:540px;
	margin-left:735px;
}