			
.HeaderBox {
	background-color: #39286C
}
			
.Header {
	color: #CCCCCC;
	font-family: calibri;
	font-size: 56pt;
	text-indent: 10px;
	margin: 6px;
}

div {
	position: absolute;
	right: 0px;
	top: 0px;
}

p {
	font-family:Calibri;
	font-size:15pt;
}

#tableBorder{
	
	border: solid 4px #39286C;
	border-collapse: collapse;
	padding-left:10px;
	
}

fontColor {
	color :White;
}

#print {
	position:absolute;
	top:5000px;
}
/*.test {
	width:100px;
	height:100px;
	background-color: green;
	border-radius: 5px;
}
*/
#masterDB {
	position:absolute;
	left: 8px;
	margin-top:263px;
	height:500px;
	width:200px;
	border: solid black 1px;
}

#upperTitle {
	width:1250px;
	border: solid;
	position:absolute;
	right:205px;
}